<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>Plan-Tastic</title>
		<!-- Bootstrap Core CSS -->
		<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- MetisMenu CSS -->
		<link href="../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="../../public/assets/css/style.css" rel="stylesheet">
		<link href="../../public/assets/css/sb-admin-2.css" rel="stylesheet">
		<!-- Morris Charts CSS -->
		<link href="../../vendor/morrisjs/morris.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lato|Pacifico|Roboto" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--:::::::::::::::::::::
			PAGE LOADER
		:::::::::::::::::::::-->
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div id="wrapper">
			</div>
		</div>
		<!--:::::::::::::::::::::
			NAVBAR STATIC TOP
		:::::::::::::::::::::-->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<h1>Plan-tastic</h1>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<!-- ***** ADD LOGO ***** -->
					<!--<img src="../../public/assets/css/img/plan-tastic.jpg"/>--> </a>
				</div>
				<!--:::::::::::::::::::::
					NAVBAR - TOP LINKS
				:::::::::::::::::::::-->
				<!--:::::::::::::::::::::
					DUMMY MESSAGES
				:::::::::::::::::::::-->
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<a href="#">
									<div>
										<strong>David</strong>
										<span class="pull-right text-muted">
											<em>Yesterday</em>
										</span>
									</div>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
											<em>Yesterday</em>
										</span>
									</div>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
											<em>Yesterday</em>
										</span>
									</div>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>Read All Messages</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</li>
					<!--:::::::::::::::::::::
						DUMMY TASKS
					:::::::::::::::::::::-->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-tasks">
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 1</strong>
											<span class="pull-right text-muted">40% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
												<span class="sr-only">40% Complete (success)</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 2</strong>
											<span class="pull-right text-muted">20% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
												<span class="sr-only">20% Complete</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 3</strong>
											<span class="pull-right text-muted">60% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
												<span class="sr-only">60% Complete (warning)</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>See All Tasks</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</li>
					<!--:::::::::::::::::::::
						DUMMY ALERTS
					:::::::::::::::::::::-->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<i class="fa fa-comment fa-fw"></i> New Comment
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
					<!--:::::::::::::::::::::
						DUMMY USER INFO
					:::::::::::::::::::::-->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
						</li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
					</li>
					<li class="divider"></li>
					<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</li>
			</ul>
		</li>
	</ul>
	<!--:::::::::::::::::::::::
		SIDE BAR - NAVBAR ** ADD JS HIDDEN
	:::::::::::::::::::::::-->
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				
				<!-- DASHBOARD -->
				<li>
					<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				</li>
				<!-- CALENDAR -->
				<li>
					<a href="calendar.html"><i class="fa fa-calendar fa-fw"></i> Calendar</a>
				</li>
				<!-- TASKS -->
				<li>
					<a href="../../tasks.html"><i class="fa fa-tasks fa-fw"></i> Tasks</a>
				</li>
				<!-- FOCUS -->
				<li>
					<a href="#"><i class="fa fa-clock-o  fa-fw"></i> Focus</a>
				</li>
				<!--CHARTS -->
				<li>
					<a href="#"><i class="fa fa-pie-chart fa-fw"></i> Charts</a>
				</div>
			</div>
		</nav>
		<!--::::::::::::::::::::::::::::::::::
				PAGE - WRAPPER - DASHBOARD
		:::::::::::::::::::::::::::::::::::-->
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2>Welcome <span class="member-name"></span></h2>
					<hr>
				</div>
			</div>
			<!--::::::::::::::::::::::::::
				CALENDAR HERE >>  ?
			::::::::::::::::::::::::::::::-->
			<div class="jumbotron"><p>&nbsp;&nbsp;CALENDARRRRRRR HERE?</p></div>
			<!--::::::::::::::::::::::::::
				PANEL 1 - TODAY + TIME  // PULL TIME AND DATE // #today
			::::::::::::::::::::::::::::::-->
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-default" id="today">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-calendar-check-o fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div>TODAY IS</div>
									<div class="huge">1.28.17</div>
								</div>
							</div>
						</div>
						<a href="#">
							<div class="panel-footer">
								<span class="pull-left">VIEW MORE</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<!--:::::::::::::::::::::::
					PANEL 2 - TO DO's // CREATE TO-DO TASK LIST // #todos
				:::::::::::::::::::::::::::-->
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-default" id="todos">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-edit fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">7</div>
									<div>TO DO's</div>
								</div>
							</div>
						</div>
						<a href="#">
							<div class="panel-footer">
								<span class="pull-left">VIEW LIST</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<!--:::::::::::::::::::::::::::::::::
					PANEL 3 - POSITIVE AFFRIMATIONS // PULL https://theysaidso.com/api/
					// #quotes // or #qod (QuoteOftheDay)
				:::::::::::::::::::::::::::::::::::::-->
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-default" id="quotes">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-heart fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">&nbsp;</div>
									<div>BE POSITIVE</div>
									<span style="z-index:50;font-size:0.9em;"><img src="https://theysaidso.com/branding/theysaidso.png" height="20" width="20" alt="theysaidso.com"/><a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a></span>
								</div>
							</div>
						</div>
						<a href="https://theysaidso.com">
						<div class="panel-footer">
							<span class="pull-left">LEARN MORE</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<!--::::::::::::::::::::::::::::::::
				PANEL 4 - BULLHORN - REMINDERS // #reminders
			::::::::::::::::::::::::::::::::::::-->
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-default" id="reminders">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bullhorn fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">2</div>
								<div>IMPORTANT<br>REMINDERS</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">VIEW MORE</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--:::::::::::::::::::::::::
				CALENDAR // #myWeek
		:::::::::::::::::::::::::::::-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default" id="myWeek">
					<div class="panel-heading">
						<i class="fa fa-calendar fa-fw"></i> Weekly Calendar
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
								Views
								<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right" role="menu">
									<li><a href="#">Daily</a>
								</li>
								<li><a href="#">Weekly</a>
							</li>
							<li><a href="#">Monthly</a>
						</li>
						<li class="divider"></li>
						<li><a href="#">Yearly</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div id="morris-area-chart"></div>
	</div>
</div>
<!--::::::::::::::::::::::
	NOTIFICATIONS PANEL
:::::::::::::::::::::::::::-->
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bell fa-fw"></i> Notifications Panel
			</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<i class="fa fa-comment fa-fw"></i> New Comment
						<span class="pull-right text-muted small"><em>4 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-twitter fa-fw"></i> 3 New Followers
						<span class="pull-right text-muted small"><em>12 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-envelope fa-fw"></i> Message Sent
						<span class="pull-right text-muted small"><em>27 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-tasks fa-fw"></i> New Task
						<span class="pull-right text-muted small"><em>43 minutes ago</em>
						</span>
					</a>
				</div>
				<a href="#" class="btn btn-default btn-block">View All Alerts</a>
			</div>
		</div>
	</div>
	<!--:::::::::::::::::::::::::::::::::
		24 HOUR DONUT PANEL // #donut
	:::::::::::::::::::::::::::::::::::::-->
	
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i> 24 Hours
			</div>
			<div class="panel-body" id="donut">
				<!-- <img src="http://www.chartphp.com/wp-content/uploads/donutv3.png"/> -->
				<div id="morris-donut-chart"></div>
				<a href="#" class="btn btn-default btn-block">View Details</a>
			</div>
		</div>
	</div>
</div>

<!-- Custom Theme JavaScript -->
<script src="../../public/js/member.js"></script>
<script src="../admin.js"></script>
<!-- jQuery -->
<script src="../../vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../../vendor/metisMenu/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="../../vendor/raphael/raphael.min.js"></script>
<script src="../../vendor/morrisjs/morris.min.js"></script>
<script src="../../data/morris-data.js"></script>

</body>
</html>