<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Plan-Tastic</title>
  <!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- MetisMenu CSS -->
  <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/sb-admin-2.css" rel="stylesheet">
  <link href="/css/tasks-style.css" rel="stylesheet">
  <!-- <link href="public/assets/css/tasks-style.css" rel="stylesheet"> -->
  <!-- Morris Charts CSS -->
  <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <!--:::::::::::::::::::::
  NAVBAR STATIC TOP
  :::::::::::::::::::::-->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <h1>Plan-tastic</h1>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="dashboard">
        <!-- ***** ADD LOGO ***** -->
        <!--<img src="../../public/assets/css/img/plan-tastic.jpg"/>--> </a>
      </div>
      <!--:::::::::::::::::::::
          NAVBAR - TOP LINKS
        :::::::::::::::::::::-->
          <!--:::::::::::::::::::::
            USER INFO
          :::::::::::::::::::::-->
          <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              
      
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>
      <!--:::::::::::::::::::::::
      SIDE BAR - NAVBAR ** ADD JS HIDDEN
      :::::::::::::::::::::::-->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            
            <!-- DASHBOARD -->
            <li>
              <a href="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <!-- CALENDAR -->
            <li>
              <a href="calendar"><i class="fa fa-calendar fa-fw"></i> Calendar</a>
            </li>
            <!-- TASKS -->
            <li>
              <a href="tasks"><i class="fa fa-tasks fa-fw"></i> Tasks</a>
            </li>
            <!-- FOCUS -->
            <li>
              <a href="#"><i class="fa fa-bell fa-fw"></i> Reminders</a>
            </li>
            <!--CHARTS -->
            <li>
              <a href="#"><i class="fa fa-pie-chart fa-fw"></i> Charts</a>
          </div>
        </div>
      </nav>
      <!--::::::::::::::::::::::::::::::::::
      PAGE - WRAPPER - DASHBOARD
      :::::::::::::::::::::::::::::::::::-->
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3>Tasks</h3>
            <hr>
          </div>
        </div>

        <!--::::::::::::::::::::::::::
        TASKS -
        ::::::::::::::::::::::::::::::-->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
              <i class="fa fa-calendar fa-fw"></i> To Do List</div>
              <div class="panel-body">
                
                <input id="task"><button type="button" class="btn btn-default" id="add">Add</button>
                <hr>
                <div id="todos"></div>
                
              </div>
            </div>
          </div>
          </div>
          
          <!--::::::::::::::::::::::::::
          PANEL 1 - TODAY + TIME  // PULL TIME AND DATE // #today
          ::::::::::::::::::::::::::::::-->
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-calendar-check-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div>TODAY IS</div>
                      <div class="huge" id="today"></div>
                      <div class="large" id="time"></div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">VIEW MORE</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
              </div>

           
            <!--:::::::::::::::::::::::::::::::::
            PANEL 3 - POSITIVE AFFRIMATIONS // PULL https://theysaidso.com/api/
            // #quotes // or #qod (QuoteOftheDay)
            :::::::::::::::::::::::::::::::::::::-->

            <div class="col-lg-4 col-md-6">
              <div class="panel panel-default" id="quotes">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-heart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">&nbsp;</div>
                      <div>BE POSITIVE</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">LEARN MORE</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <!--::::::::::::::::::::::::::::::::
            PANEL 4 - BULLHORN - REMINDERS // #reminders
            ::::::::::::::::::::::::::::::::::::-->
            <div class="col-lg-4 col-md-6">
              <div class="panel panel-default" id="reminders">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-bullhorn fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">2</div>
                      <div>REMINDERS</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">VIEW MORE</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            </div>
          
          <!--:::::::::::::::::::::::::
          CALENDAR // #myWeek
          :::::::::::::::::::::::::::::-->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default" id="myWeek">
                <div class="panel-heading">
                  <i class="fa fa-calendar fa-fw"></i> Weekly Calendar
                  <div class="pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                      Views
                      <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Daily</a>
                      </li>
                      <li><a href="#">Weekly</a>
                    </li>
                    <li><a href="#">Monthly</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Yearly</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div id="morris-area-chart"></div>
        </div>
      </div>
      <!--:::::::::::::::::::::::::::::::::
      24 HOUR DONUT PANEL // #donut
      :::::::::::::::::::::::::::::::::::::-->
      
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> 24 Hours
          </div>
          <div class="panel-body" id="donut">
            <!-- <img src="http://www.chartphp.com/wp-content/uploads/donutv3.png"/> -->
            <div id="morris-donut-chart"></div>
            <a href="#" class="btn btn-default btn-block">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/tasks.js"></script>
    <script src="/js/admin.js"></script>

    <!-- Moment js cdn --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script>

 var NowMoment = moment();
  
  // display value of moment object in #displayMoment div
  var eDisplayMoment = document.getElementById('today');
  eDisplayMoment.innerHTML = NowMoment.format("MM.DD.YY");
  var time = document.getElementById('time');
  time.innerHTML = NowMoment.format("h:mm A");

</script>

</body>
</html>