/*body
{
    
    margin: 40px auto 0 auto;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}*/

/*#calendar
{
    width: 70%;
    margin: 0 auto;
}*/

		/*body
		{
			margin-top: 40px;
			text-align: center;
			font-size: 14px;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}*/
		#calendar
		{
			width: 900px;
			margin: 0 auto;
		}
#external-events{
    width: 10%;
    margin-right: 0;
    float: left;
}